.navbar {
  background: #2e7d32;
  color: white;
  padding: 18px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
}